body{
    background-color: rgb(145, 73, 156);
    margin:0px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* INICIO HEADER*/

header{
    position: fixed;
    width:100%;
    height:45px;
    background-color: rgba(124, 63, 134, 0.849);
    color:white;
}

ul{
    width:100%;
    height:45px;
    border:1px solid transparent;
    margin:0px;
}

li{
    list-style-type: none;
    display:inline-block;
    border:1px solid transparent;
    vertical-align: middle;
    
}

li:nth-child(0n+3){
    margin-left: 24%;
}

#logo{
    height:25px;
    opacity: 0.5;
}

#buttonNav{
    background-color: rgb(176, 138, 182);
    border:none;  
    border-radius: 2px;
    height:30px;
    width:100px;  
    color:white;
    font-size: 14px;
    font-weight: bold;
    margin-left:-30px;
    margin-top: 5px;
}

#boxsearch{
    height:30px;
    border: none;
    border-radius: 2px; 
    margin-top:5px;   
    background-color: rgba(255, 255, 255, 0.308);
}

.fa-trello{
    font-size: 18px !important;    
}

.fa-plus, .fa-info, .fa-bell-o{
    height:24px;
    width:30px;
    padding-top:6px;
    border:1px solid transparent;
    background-color: rgba(255, 255, 255, 0.308);
    border-radius: 3px;
    text-align: center;
    margin-top:5px;
}

#user{
    width:34px;
    border-radius: 20px;
    margin-top: 3px;
}

li:nth-child(0n+4){
    margin-left: 35%;
}

/* FIN HEADER*/

/* INICIO CONTENT*/
/* inicio título*/
#content{
    position: relative;
    top:50px;
    left:20px;
    color:white;

    white-space: nowrap;
}

#title{
    width:250px;
    height: 30px;
    border:1px solid transparent;
    margin:0px;
    padding-left: 0px;
}


#title li{
    border:1px solid transparent;
    height: 30px;    
    display: inline-block;
    padding: 0px 10px;
    margin: 0px;
}

#title li:hover{
    border:1px solid transparent;
    border-radius: 3px;
    background-color: rgba(124, 63, 134, 0.849);
}

#title a{
    color:white;
}

h3{
    display: inline-block;
    border:1px solid transparent;
    line-height: 30px;
    margin: 0px;
}

.fa-star-o{
    margin-top:7px;
}

p{
    display: inline-block;
    border:1px solid transparent;
    line-height: 30px;
    margin: 0px;    
}

/* fin título*/

/*inicio board*/

#board{
    border: 1px solid transparent;
}

#btn_principal{
    background-color: #c7acdd;
    border-radius: 3px;
    border:none;
    width: 270px;
    height: 40px;
    text-align: left;
    display : inline-flex;
    color:rgb(112, 58, 112);
    margin: 0px 10px 0px 0px;
}

.name_list{
    width: 220px !important;    
    overflow-wrap: break-word;
    line-height: 20px;
}

#btn_principal:hover{
    background-color: purple;
    color:white;
}

.div_create_list{
    border: 2px solid transparent;
    width: 270px;
    float:left;
    white-space: normal;
    background-color: lightgray;
    border-radius: 3px;
}

.input_list{
    background-color: lightgray;
    border:1px solid gray;
    border-radius: 3px;
    width: 266px;
    height: 32px;
    margin: 2px 0px 2px 2px;
    -webkit-box-shadow:inset 0 0 10px gray;
    -moz-box-shadow:inset 0 0 10px gray;
         box-shadow:inset 0 0 10px gray;
}

.btn_save_list{
    background-color: #26A535;
    height: 30px;
    width: 86px;
    border: none;
    border-radius: 3px;
    color:white;
    font-weight: bold;
    margin: 5px 5px 5px 5px;
    padding: 0px;
    float: left;
}

.btn_save_list:hover{
    background-color: rgb(29, 134, 41);
}

.btn_cancel_list{
    height: 30px;
    width: 30px;
    border: none;    
    text-align: center;
    background-color: transparent;
    float: left;
    margin-top:5px;
}

.fa-times{
    color:gray;
    margin-left:-1px;    
}

.div_list{
    width: 270px;
    background-color: lightgray;
    border: 1px dotted transparent;
    border-radius: 3px;
    float:left;
    white-space: normal;
    margin: 0px 10px 0px 0px;
}

.div_list p{
    color:black;
    font-weight: bold;
    font-size: 14px;
    margin-left:5px;
    width:50%;
}

.fa-pencil{
    float: right;
    margin: -25px 10px 0px 0px;
    color:  white;
    padding: 2px;
    border:1px solid transparent;
}

.fa-pencil:hover{
    border:1px solid transparent;
    border-radius: 3px;
    background-color: rgb(168, 38, 38);
    color:black;
}

.menu_list{
    background-color: transparent;
    border: none;
    border-radius: 3px;
    float: right;
    margin-right: 2px;
}

.add_card{
    background-color: transparent;
    color:gray;
    border: 1px solid transparent;
    height:30px;
    font-size: 14px;
    display: inline-block;
    margin: 3px;
}

.add_card:hover{
    background-color: rgb(187, 183, 183);
    color:rgb(105, 105, 105);
    text-decoration: underline;
    width: 98%;
}

.create_card{
    width: 262px;
    margin: 3px 0px 0px 5px;
    border:none;
    border-radius: 3px;
    resize: none;       
    overflow: hidden;
    line-height: 18px;
    
}

.menu_card{
    float: right;
    margin: 5px 10px 0px 0px;
    padding: 0px 0px 3px 0px;
    background-color: transparent;
    border: none;
}

.card{
    
    width: 260px;
    border-radius: 3px;
    margin:5px 5px;
    background-color: white;
}

.card p{
    font-weight: normal;
    width: 260px;
    border-radius: 3px;
    margin:3px 5px;
    overflow-wrap: break-word;
    line-height: 18px; 
}

.card:hover{
    background-color: transparent;
}


/* fin board*/

/* FIN CONTENT*/


